<main id="main-menu" class="main-active w-full h-screen bg-gray-600 pt-16 duration-300 fixed top-0 lg:static overflow-auto">
  <div class="w-full h-auto p-1 md:p-3">
    <% if (message) { %>
    <div class="w-full h-auto flex justify-center items-center">
      <!-- Alert Success -->
      <% if (message?.status) { %><%- include("../partials/alert-success", { message: message?.value }) %><% } %>
      <!-- Alert Failed -->
      <% if (!message?.status) { %><%- include("../partials/alert-error", { message: message?.value }) %><% } %>
    </div>
    <% } %><% if (books.length > 0) { %>
    <div class="w-full h-auto flex flex-wrap justify-start items-start mb-4 md:mb-6">
      <% books.forEach((book) => { %>
      <div class="book-parent">
        <div class="book-container">
          <img class="book-image" src="/<%= book.image %>" alt="<%= book.title %>" />
          <div class="book-content">
            <h4 class="book-title"><%= book.title %></h4>
            <form action="/loans" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="hidden" name="bookId" value="<%= book._id %>" />
              <button type="submit" class="book-btn">
                Pinjam Buku
                <svg class="w-5 h-5 fill-white" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
                  <path d="M608 400C608 417.69 593.67 432.01 576 432.01H432V576.01C432 593.7 417.67 608 400 608C382.33 608 368 593.7 368 576.01V432.01H224C206.33 432.01 192 417.69 192 400C192 382.31 206.33 368.01 224 368.01H368V224.01C368 206.32 382.33 192 400 192C417.67 192 432 206.32 432 224.01V368.01H576C593.7 368 608 382.3 608 400Z" />
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <!--  -->
    <% if (totalItems > itemsPerPage) { %>
    <!-- Start Pagination -->
    <%- include("../partials/pagination", {...pagination}) %>
    <!-- End pagination -->
    <% } %>
    <!--  -->

    <% } else { %>
    <div class="w-full h-auto flex flex-col justify-center items-center">
      <h4 class="text-8xl md:text-9xl text-center mb-3 md:mb-5">👀</h4>
      <h5 class="text-2xl md:text-4xl text-center font-semibold text-white">Data Kosong</h5>
    </div>
    <% } %>

    <!-- Footer -->
    <%- include("../partials/footer") %>
  </div>
</main>
