<main id="main-menu" class="main-active w-full h-screen bg-gray-600 pt-16 duration-300 fixed top-0 lg:static overflow-auto">
  <div class="w-full h-auto p-2 md:p-6">
    <div class="min-h-[550px] md:min-h-[640px] lg:min-h-[500px] bg-gray-800 py-6 px-4 rounded-lg">
      <form action="/profiles" method="post" class="max-w-xl mx-auto">
        <!-- Alert Success -->
        <% if (message && message?.status) { %><%- include("../partials/alert-success", { message: message?.value }) %><% } %>
        <!-- Alert Failed -->
        <% if (message && !message?.status) { %><%- include("../partials/alert-error", { message: message?.value }) %><% } %>
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div class="relative">
          <input type="text" id="name" name="name" value="<%= value?.name ?? user?.name %>" class="<% if (errors?.name) { %>form-input-error peer<% } else { %>form-input peer<% } %>" placeholder=" " autocomplete="off" autofocus />
          <label for="name" class="<% if (errors?.name) { %>form-label-error<% } else { %>form-label<% } %>">Nama Lengkap</label>
        </div>
        <p class="form-message-error"><%= (errors?.name) ? errors?.name?.msg : "" %></p>

        <div class="relative">
          <input type="text" id="grade" name="grade" value="<%= value?.grade ?? user?.profile?.grade %>" class="<% if (errors?.grade) { %>form-input-error peer<% } else { %>form-input peer<% } %>" placeholder=" " autocomplete="off" />
          <label for="grade" class="<% if (errors?.grade) { %>form-label-error<% } else { %>form-label<% } %>">Kelas</label>
        </div>
        <p class="form-message-error"><%= (errors?.grade) ? errors?.grade?.msg : "" %></p>

        <div class="relative">
          <input type="number" id="absen" name="absen" value="<%= value?.absen ?? user?.profile?.absen %>" class="<% if (errors?.absen) { %>form-input-error peer<% } else { %>form-input peer<% } %>" placeholder=" " autocomplete="off" />
          <label for="absen" class="<% if (errors?.absen) { %>form-label-error<% } else { %>form-label<% } %>">No. Absen</label>
        </div>
        <p class="form-message-error"><%= (errors?.absen) ? errors?.absen?.msg : "" %></p>

        <div class="relative">
          <textarea id="bio" name="bio" class="<% if (errors?.bio) { %>form-input-error peer<% } else { %>form-input peer<% } %>" placeholder=" " rows="4" autocomplete="off"><%= value?.bio ?? user?.profile?.bio %></textarea>
          <label for="bio" class="<% if (errors?.bio) { %>form-label-textarea-error<% } else { %>form-label-textarea<% } %>">Bio Pribadi</label>
        </div>
        <p class="form-message-error"><%= (errors?.bio) ? errors?.bio?.msg : "" %></p>

        <button type="submit" class="form-button">Ubah Profil</button>
      </form>
    </div>

    <!-- Footer -->
    <%- include("../partials/footer") %>
  </div>
</main>
